body,
html {
  height: 500px;
  width: 300px;
}

#money-amount {
  margin-top: 30px;
}

#settings {
  margin-top: 100px;
}

#days-left {
  margin-top: 20px;
}

.title {
  color: black;
  font-size: 14pt;
}

.unit {
  color: darkgray;
  font-size: 12pt;
}

.number {
  color: red;
  font-size: 40pt;
}

.input-title {
  color: gray;
  font-size: 14pt;
}